<h3 class="title is-3">Bokningar</h3>
{{#if errors.length}}
<h3 class="title is-3"> errors:</h3>

<ul>
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}

{{#if isAdmin}}
<h4 class="title is-4">Du tittar på patienters bokningar</h4>
{{/if}}


{{#if bookings.length}}
<ul>
    {{#each bookings}}
    <li>
        <div class="box">
            <h5 class="title is-5">
                <div id="bookingTimeDiv">
                    <p>{{this.appointmentDate.toLocaleDateString('EU')}} {{this.appointmentTime}}</p>
                    <p>{{this.specialityName}}</p>
                    <p>Meddelande från patient: {{this.messageFromPatient}}</p>

                </div>

                <div id="bookingPatientDiv">

                    <p>Patient: {{this.patientFirstName}} {{this.patientLastName}}</p>

                </div>

                <div id="bookingDoctorDiv">

                    <p>Doktor: {{this.doctorFirstName}} {{this.doctorLastName}}</p>


                </div>



            </h5>
        </div>
    </li><br>
    {{/each}}

</ul>

{{/if}}


</div>