<h3 class="title is-3">Boka tid</h3>

<div class="bookingFormDiv">
    <form action="/" method="post" id="bookingForm">
        <label for="Category">Vilken sorts undersökning:</label>
        <select id="Category" name="Category">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
        </select>
        <br>
        <label for="QuestionSmoking">Röker du:</label>
        <input type="checkbox" id="QuestionSmoking" name="QuestionSmoking">
        <br>

        <div id="wrapper">
            <label for="yes_no_covid_radio">Har du haft covid?</label>
            <p>
                <input type="radio" name="yes_no_covid">Yes</input>
            </p>
            <p>
                <input type="radio" name="yes_no_covid">No</input>
            </p>

            <br>
            <label for="QuestionCovid">Har du haft covid:</label>
            <input type="checkbox" id="QuestionCovid" name="QuestionCovid">




    </form>

    {{#if errors.length}}
    <h3 class="title is-3"> errors:</h3>

    <ul>
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}

    {{#if bookingsWithNames.length}}
    <ul>
        {{#each bookingsWithNames}}
        <li>
            <div class="box">
                <h5 class="title is-5">
                    <div id="bookingTimeDiv">
                        <p>{{this.appointmentDate}} {{this.appointmentTime}}</p>
                        <p>Meddelande från patient: {{this.messageFromPatient}}</p>

                    </div>

                    <div id="bookingPatientDiv">

                        <p>Patient: {{this.patientFirstName}} {{this.lastName}}</p>

                    </div>

                    <div id="bookingDoctorDiv">

                        <p>Doktor: {{this.doctorFirstName}} {{this.lastName}}</p>


                    </div>



                </h5>
            </div>
        </li><br>
        {{/each}}

    </ul>

    {{/if}}


</div>