<h3 class="title is-3">Boka tid</h3>

{{#if errorsBookings.length}}
<h3 class="title is-3"> errors in booking database:</h3>
<ul>
    {{#each errorsBookings}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}
{{#if errorsSpecialitys.length}}
<h3 class="title is-3"> errors in booking database:</h3>

<ul>
    {{#each errorsSpecialitys}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}

{{#if bookings.length}}
{{#if specialitys.length}}
<div id="bookingFormDiv">
    <form action="/bookings/reserve" method="post" id="bookingForm">
        <label for="userID"> fyll i ditt userID som egentligen ska autofylllas med hjälp av session/cookie:</label>
        <input class="input is-normal" type="text" id="userID" name="userID">
        <label for="bookingID">Vilken tid och datum?:</label>
        <select id="bookingID" name="bookingID">
            {{#each bookings}}
            <option value="{{this.bookingID}}">{{this.appointmentDate}} {{this.appointmentTime}}</option>
            {{/each}}
        </select>
        <br>
        <label for="CategoryID">Vilken sorts undersökning:</label>
        <select id="CategoryID" name="CategoryID">
            {{#each specialitys}}
            <option value="{{this.specialityID}}">{{this.specialityName}}</option>
            {{/each}}
        </select>
        <br>
            <label for="covidQuestion">Har du haft covid?</label> <br>
            <input type="radio" name="covidQuestion" id="yes" value="Ja jag har haft covid."> Ja<br>
            <input type="radio" name="covidQuestion" id="no" value="Nej jag har inte haft covid."> Nej<br>
            <label for="message"> Annan övrig info som är bra att känna till:</label>
            <input class="input is-normal" type="text" id="message" name="message">
            <br>
            <input class="button" type="submit" id="postNewBooking" value="Skapa bokning">
            <br>
    </form>
</div>



{{/if}}
{{else}}

<h4 class="title is-4"> No available times! </h4>
{{/if}}



